curl_cffi==0.10.0
fastapi==0.115.12
h5py==3.13.0
hdf5plugin==5.1.0
msgpack==1.1.0
numpy==2.2.5
pandas==2.2.3
scipy==1.15.2
torch==2.7.0
torchao==0.10.0
torchvision==0.22.0
torchtune==0.6.1
tqdm==4.67.1
uvicorn==0.34.2
