/* Global.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
